<form method="post"action="/home/addimage">
    <div class="col-md-4 col-md-offset-4 well">
        <input type="text"style="margin-bottom:25px" placeholder="Title" class="form-control" name="text" />
        <div class="col-md-12" style="margin-bottom:25px">
            <textarea rows="5" name="imageurl" class="form-control"></textarea>
        </div>
            <button class="btn btn-primary btn-block">Submit Image</button>
    </div>
</form>