@using ImagePosts.Data;
@model List<Image>
@foreach (Image i in Model)
{
        <div class="col-md-4 col-md-offset-4 well">
            <a href="/home/enlargeimage?imageId=@i.Id"><h2>@i.Text</h2></a>
            <div class="row">
                <a href="/home/enlargeimage?imageId=@i.Id"><img src="@i.ImageURL" class="col-md-12" /></a>
            </div>
        </div>
}
